.productFiltersContainer {
  background: #f4f4f4de;
  width: 16rem;
  height: 100vh;
  max-height: 90vh;

  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content:center; */
  align-items: first baseline;
  margin: 0;
  padding: 2em;
}
h2 {
  font-size: 1.7em;
  margin: 0;
  color: black;
}
/* ul {
} */
li {
  color: black;
  list-style: none;
  width: fit-content;
  margin: 1em;
  font-size: 1.2em;
}
li input {
  margin-right: 1em;
}
input{
color: #343434;}
.selectionCOntainer {
  /* background: #000; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
}
.selection {
  width: 10em;
  padding: 0.2em;
  background: #188e00;
  margin: .2em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  text-align: center;
}
