
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  /* color: var(--text-color); */
}
.HomepageContent{
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
}

.navLinks a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.heroSection {
  position: relative;
  /* background-color: var(--secondary-color); */
  text-align: center;
  padding: 50px 20px;
  color: white;
  height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;
}
#heroTitle {
  font-size: 3.5em;
  text-shadow: .5px .5px 10px rgb(0, 0, 0);

}
#subTitle{
  color: white;
  text-shadow: .5px .5px 10px rgb(0, 0, 0);

}
#heroImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center;
  position: absolute;
  left: -.01em;
  z-index: -1;
  /* filter: blur(2px); */
}
.searchBox input {
  width: 60%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background: #f1ffff;
  box-shadow: .5px .5px 10px rgb(0, 0, 0);

}

.categoriesSection, .productsSection, .servicesSection, .testimonialsSection, .contactSection {
  text-align: center;
  padding: 40px 20px;
}

.categoryGrid, .productGrid, .serviceGrid, .testimonialGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.categoryItem, .productItem, .serviceItem, .testimonialItem {
  background: white;
  color: black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--primary-color);
  color: white;
  margin-top: 20px;
}
