#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  body{
    width: 100vw;
    overflow-x: scroll;
    background: #eeeeee;
    scroll-behavior: smooth;
  }
  
  .healtProductsProductsPage{
    display: flex;
    justify-content:space-around;
    position: relative;
  }
  .healtProductsProductsFilter{
    /* margin: .1rem ;  */
    position: sticky;
    top: 20px;
  
    display: flex;
    flex-direction: column;
    justify-content: baseline;
  }
  .healtProductsProductsContainer{
    background: #e8e8e8c2;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
    padding: 1em;
  column-gap:.9em ;
  row-gap: 1em;
  
  }